
@font-face {
  font-family: standard;
  src: url(standard-book.woff);
}


	body {
		background-color: black;
		padding: 5px 10px 20px 10px;
		width: 60%
	}


	/*type*/
	p {
		color: white;
		font-family: standard;
		font-size: 8pt;
		font-weight: normal;
	}

	a:link {
	  color: white;
		text-decoration: none;
	}
	a:visited {
	  color: red;
		text-decoration: none;
	}
	a:hover {
	  color: red;
		text-decoration: none;
	}
	a:active {
	  color: white;
		text-decoration: none;
	}


/*content*/
.nav {
	width: 60%;
	position: fixed;
	padding-bottom: 15px;
	background-image: linear-gradient(rgb(47, 79, 79) 0%, rgb(47, 79, 79) 50%, transparent 95%, transparent 100%);
	z-index: 1;
	top: 0;
}
.main {
	margin-top:50px;
}
