@font-face {
  font-family: standard;
  src: url(standard-book.woff);
  font-weight: Regular;
}

.header {
  margin-top: 5rem;
  margin-left: 3rem;
  transform: rotate(3deg);
  padding: 0 20px;
  position: fixed;
}

a {
  font-family: standard;
  font-size: 25px;
  color: purple;
  text-decoration: none;
}

a:hover {
  background-color: #d7f720;
  border-radius: 100px;
}

.inquiries {
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  width: 50%;
}
