
@font-face {
  font-family: standard;
  src: url(standard-book.woff);
}


	body {
		background-color: black;
		padding: 20px 10px 20px 10px;
		width: 60%
	}

	p {
		color: white;
		font-family: standard;
		font-size: 20pt;
		font-weight: normal;
	}

a { font-family: standard;}

	a:link {
	  color: white;
		text-decoration: none;
	}
	a:visited {
	  color: blue;
		text-decoration: none;
	}
	a:hover {
	  color: red;
		text-decoration: none;
	}
	a:active {
	  color: white;
		text-decoration: none;
	}

img {
  max-width: 400px;
}
